// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #999;
  border-radius: .6rem;
  margin-inline: auto;
  overflow: hidden;
  
  & a {
    padding: .5rem 3rem;
    background-color: #eee;
    
    &:hover {
      background-color: #edd;
    }
  }
}
  